@charset "utf-8";
body {
    min-width: 2560px;
}

section.container {
    position: relative;
    width: 2560px;
    margin: 0 auto;
    overflow: hidden;
}

div.banner {
    width: 33280px;
    transition: transform 0.3s;
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 2560px;
    height: 507px;
    float: left;
    background-size: 100%;
}

div.buttons {
    
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

div.buttons button {
    border: none;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%);
    background-color: hsla(0,0%,100%,.7);
    margin: 0 2px;
    cursor: pointer;
}