@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
table {
    border: 2px solid #444444;
    width: 50%;
    margin: 0 auto;
}


th, td {
    text-align: center;
    border: 2px solid #444444;

}

th {
    background-color:#FFF9C4;
}

tr{
    font-family: 'Gamja Flower', cursive;
}

.title-name {
    text-align: center;
}

legend {
    text-align: center;
}

fieldset {
    margin:0 auto;
    width: 50%;
    text-align: center;
}
